body {
    margin: auto;
    width: 80%;
    font-family: "Exo 2", sans-serif;
    border: 1px solid black;
}

.container {
    padding: 2em;
    font-family: "Exo 2", sans-serif;
    background-color: #729998;
}

#imgtitulo {
    width: 7em;
    height: 80px;
}

#titulo1{
    color: blue;
}

figure {
    width: 250px;
    padding: 5px;
    border: 2px solid #000000;
}

figcaption {
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
}

p {
    font-size: 1.3em;
}

img {
    width: 250px;
    height: 200px;
}

.images {
    border: 1px solid #000000;
    width: 100%;
    float: left;
}

.FF1 {
    float: none;
}


.MFMF {
    float: left;
}

.FFT {
    float: right;
}

.FF4{
    float: left;
}

.tentativa{
    clear: none;
}

.FF5{
    float: right;
}

footer{
    font-size: 1.3em;
    font-family: "Exo 2", sans-serif;
}