:root{
    font-weight: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700px;
    background-color: #b3e9f3;
}

.title{
    background-color: #6590d1;
    border-radius: 3px, 3px #48789f;
}

.img{
    width: 300px;
    height: auto;

}

.footer{
    background-color: #48789f;
    align-items: end;
}